**Table of contents**<a id='toc0_'></a>    
- [ENSG](#toc1_)    
    - [How many total unique gene records are there](#toc1_1_1_)    
    - [Drop genes with no aliases](#toc1_1_2_)    
    - [Make each row in alias_symbol a set:](#toc1_1_3_)    
    - [Explode the alias sets so that it is one per row](#toc1_1_4_)    
    - [How many unique aliases are there](#toc1_1_5_)    
    - [Remove the duplicate instances of a primary gene symbol- alias pair](#toc1_1_6_)    
    - [Pull out all the rows that have an alias symbol that can be found elsewhere](#toc1_1_7_)    
    - [Sort alias symbols alphabetically](#toc1_1_8_)    
    - [Number of records with an alias that is shared](#toc1_1_9_)    
    - [Count the number of times each multi-use alias is used](#toc1_1_10_)    
      - [Save as csv](#toc1_1_10_1_)    
    - [Put columns in different order to ephasize alias symbols instead of gene records](#toc1_1_11_)    
    - [Merge rows with matching alias symbols](#toc1_1_12_)    
- [HGNC](#toc2_)    
    - [How many total unique gene records are there](#toc2_1_1_)    
    - [Drop genes with no aliases](#toc2_1_2_)    
    - [Make each row in alias_symbol a set:](#toc2_1_3_)    
    - [Explode the alias sets so that it is one per row](#toc2_1_4_)    
    - [How many total unique aliases are there](#toc2_1_5_)    
    - [Remove the duplicate instances of a primary gene symbol- alias pair](#toc2_1_6_)    
    - [Pull out all the rows that have an alias symbol that can be found elsewhere](#toc2_1_7_)    
    - [Sort alias symbols alphabetically](#toc2_1_8_)    
    - [Number of records with an alias that is shared](#toc2_1_9_)    
    - [Count the number of times each multi-use alias is used](#toc2_1_10_)    
      - [Save as csv](#toc2_1_10_1_)    
    - [Put columns in different order to ephasize alias symbols instead of gene records](#toc2_1_11_)    
    - [Merge rows with matching alias symbols](#toc2_1_12_)    
- [NCBI Info](#toc3_)    
    - [How many total unique gene records are there](#toc3_1_1_)    
    - [Drop genes with no aliases](#toc3_1_2_)    
    - [Make each row in alias_symbol a set:](#toc3_1_3_)    
    - [Explode the alias sets so that it is one per row](#toc3_1_4_)    
    - [How many unique aliases are there](#toc3_1_5_)    
    - [Remove the duplicate instances of a primary gene symbol- alias pair](#toc3_1_6_)    
    - [Pull out all the rows that have an alias symbol that can be found elsewhere](#toc3_1_7_)    
    - [Sort alias symbols alphabetically](#toc3_1_8_)    
    - [Number of records with an alias that is shared](#toc3_1_9_)    
    - [Count the number of times each multi-use alias is used](#toc3_1_10_)    
    - [Put columns in different order to ephasize alias symbols instead of gene records](#toc3_1_11_)    
    - [Merge rows with matching alias symbols](#toc3_1_12_)    
- [Merge to create Alias Overlap Table 1 - Gene Symbol](#toc4_)    
- [Merge to create Alias Overlap Table 2 - Alias Symbol](#toc5_)    
- [Creating a yaml file for each collision](#toc6_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
#new_alias-alias_collision_records

# <a id='toc1_'></a>[ENSG](#toc0_)

In [2]:
mini_ensg_df = pd.read_csv('Downloaded_files/mini_ensg_df.csv', dtype={'HGNC_ID': pd.Int64Dtype(), 'NCBI_ID': pd.Int64Dtype()})
mini_ensg_df

,ENSG_ID,gene_symbol,HGNC_ID,NCBI_ID,alias_symbol
0,ENSG00000000003,TSPAN6,11858,7105,"T245, TM4SF6, TSPAN-6"
1,ENSG00000000005,TNMD,17757,64102,"BRICD4, CHM1L, MYODULIN, TEM, TENDIN"
2,ENSG00000000419,DPM1,3005,8813,"CDGIE, MPDS"
3,ENSG00000000457,SCYL3,19285,57147,"PACE-1, PACE1"
4,ENSG00000000460,FIRRM,25565,55732,"APOLO1, C1ORF112, FLIP, FLJ10706, MEICA1"
...,...,...,...,...,...
75829,ENSG00000293596,NaN,<NA>,105372654,NaN
75830,ENSG00000293597,LINC00970,48730,101978719,NaN
75831,ENSG00000293599,NaN,<NA>,<NA>,NaN
75832,ENSG00000293600,NaN,<NA>,131768270,NaN
75833,ENSG00000293604,ORAI1,25896,84876,"CRACM1, FLJ14466, TMEM142A"

### <a id='toc1_1_1_'></a>[How many total unique gene records are there](#toc0_)

By ENSG ID

In [3]:
ensg_gene_id_set = set(mini_ensg_df['ENSG_ID'])
len(ensg_gene_id_set)

70611

By gene symbol

In [4]:
ensg_gene_symbol_set = set(mini_ensg_df['gene_symbol'])
len(ensg_gene_symbol_set)

41068

### <a id='toc1_1_2_'></a>[Drop genes with no aliases](#toc0_)

In [5]:
mini_ensg_df = mini_ensg_df[mini_ensg_df["alias_symbol"].str.contains("NaN") == False]
mini_ensg_df

,ENSG_ID,gene_symbol,HGNC_ID,NCBI_ID,alias_symbol
0,ENSG00000000003,TSPAN6,11858,7105,"T245, TM4SF6, TSPAN-6"
1,ENSG00000000005,TNMD,17757,64102,"BRICD4, CHM1L, MYODULIN, TEM, TENDIN"
2,ENSG00000000419,DPM1,3005,8813,"CDGIE, MPDS"
3,ENSG00000000457,SCYL3,19285,57147,"PACE-1, PACE1"
4,ENSG00000000460,FIRRM,25565,55732,"APOLO1, C1ORF112, FLIP, FLJ10706, MEICA1"
...,...,...,...,...,...
75796,ENSG00000293549,HCG22,<NA>,285834,PBMUCL2
75798,ENSG00000293551,PRAMEF22,34393,653606,PRAMEF3L
75801,ENSG00000293555,FAM169BP,26835,283777,"FAM169B, FLJ39743, KIAA0888L"
75828,ENSG00000293595,SLC25A3P1,26869,163742,FLJ40434
75833,ENSG00000293604,ORAI1,25896,84876,"CRACM1, FLJ14466, TMEM142A"

### <a id='toc1_1_3_'></a>[Make each row in alias_symbol a set:](#toc0_)
    covert to a list 
    make a set

In [6]:
mini_ensg_df['alias_symbol'] = mini_ensg_df['alias_symbol'].astype(str)
mini_ensg_df['alias_symbol'] = [x.split(',') for x in mini_ensg_df.alias_symbol]
mini_ensg_df['alias_symbol']=np.where(mini_ensg_df.alias_symbol=='','',mini_ensg_df.alias_symbol.map(set))
mini_ensg_df.head(1)

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1602162191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ensg_df['alias_symbol'] = mini_ensg_df['alias_symbol'].astype(str)
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1602162191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ensg_df['alias_symbol'] = [x.split(',') for x in mini_ensg_df.alias_symbol]
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1602162191.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ensg_df['alias_symbol']=np.where(mini_ensg_df.alias_symbol=='','',mini_ensg_df.alias_symbol.map(set))

           ENSG_ID gene_symbol  HGNC_ID  NCBI_ID               alias_symbol
0  ENSG00000000003      TSPAN6    11858     7105  { TSPAN-6, T245,  TM4SF6}

### <a id='toc1_1_4_'></a>[Explode the alias sets so that it is one per row](#toc0_)

In [7]:
mini_ensg_df = mini_ensg_df.explode('alias_symbol')
mini_ensg_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
0      ENSG00000000003      TSPAN6    11858     7105      TSPAN-6
0      ENSG00000000003      TSPAN6    11858     7105         T245
0      ENSG00000000003      TSPAN6    11858     7105       TM4SF6
1      ENSG00000000005        TNMD    17757    64102     MYODULIN
1      ENSG00000000005        TNMD    17757    64102          TEM
...                ...         ...      ...      ...          ...
75801  ENSG00000293555    FAM169BP    26835   283777     FLJ39743
75828  ENSG00000293595   SLC25A3P1    26869   163742     FLJ40434
75833  ENSG00000293604       ORAI1    25896    84876     TMEM142A
75833  ENSG00000293604       ORAI1    25896    84876       CRACM1
75833  ENSG00000293604       ORAI1    25896    84876     FLJ14466

[73134 rows x 5 columns]

In [8]:
mini_ensg_df.loc[mini_ensg_df['alias_symbol'] == "CFM1" ]

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
15693  ENSG00000183688       RFLNB    28705   359845         CFM1
66337  ENSG00000283979       RFLNB    28705   359845         CFM1

### <a id='toc1_1_5_'></a>[How many unique aliases are there](#toc0_)

In [9]:
ensg_alias_symbol_set = set(mini_ensg_df['alias_symbol'])
ensg_alias_len = len(ensg_alias_symbol_set)
ensg_alias_len

55938

### <a id='toc1_1_6_'></a>[Remove the duplicate instances of a primary gene symbol- alias pair](#toc0_)

Example:

In [10]:
mini_ensg_df.loc[mini_ensg_df['gene_symbol'] == "RFLNB" ]

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
15693  ENSG00000183688       RFLNB    28705   359845     REFILINB
15693  ENSG00000183688       RFLNB    28705   359845      FAM101B
15693  ENSG00000183688       RFLNB    28705   359845     MGC45871
15693  ENSG00000183688       RFLNB    28705   359845         CFM1
66337  ENSG00000283979       RFLNB    28705   359845     REFILINB
66337  ENSG00000283979       RFLNB    28705   359845      FAM101B
66337  ENSG00000283979       RFLNB    28705   359845     MGC45871
66337  ENSG00000283979       RFLNB    28705   359845         CFM1

In [11]:
mini_ensg_df = mini_ensg_df.drop_duplicates(subset=['gene_symbol', 'alias_symbol'], keep='first')

In [12]:
mini_ensg_df.loc[mini_ensg_df['gene_symbol'] == "RFLNB" ]

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
15693  ENSG00000183688       RFLNB    28705   359845     REFILINB
15693  ENSG00000183688       RFLNB    28705   359845      FAM101B
15693  ENSG00000183688       RFLNB    28705   359845     MGC45871
15693  ENSG00000183688       RFLNB    28705   359845         CFM1

### <a id='toc1_1_7_'></a>[Pull out all the rows that have an alias symbol that can be found elsewhere](#toc0_)

In [13]:
mini_ensg_df['alias_duplicates'] = mini_ensg_df.duplicated(subset= 'alias_symbol', keep=False)
aa_collision_ensg_df = mini_ensg_df[mini_ensg_df['alias_duplicates'] == True]
aa_collision_ensg_df = aa_collision_ensg_df.drop(['alias_duplicates'], axis=1)
aa_collision_ensg_df.head(5)

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/2021707324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ensg_df['alias_duplicates'] = mini_ensg_df.duplicated(subset= 'alias_symbol', keep=False)

            ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
4   ENSG00000000460       FIRRM    25565    55732         FLIP
8   ENSG00000001084        GCLC     4311     2729          GCS
12  ENSG00000001497       LAS1L    25726    81887         LAS1
13  ENSG00000001561       ENPP4     3359    22875      AP3AASE
15  ENSG00000001626        CFTR     1884     1080    DJ760C5.1

### <a id='toc1_1_8_'></a>[Sort alias symbols alphabetically](#toc0_)

In [14]:
aa_collision_ensg_df = aa_collision_ensg_df.sort_values('alias_symbol')
aa_collision_ensg_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
58193  ENSG00000275176       ACACA       84       31         ACC1
8000   ENSG00000140379      BCL2A1      991      597         ACC1
8000   ENSG00000140379      BCL2A1      991      597         ACC2
1354   ENSG00000076555       ACACB       85       32         ACC2
2085   ENSG00000097021       ACOT7    24157    11332          ACT
...                ...         ...      ...      ...          ...
24134  ENSG00000213339       QTRT1    23797    81890          TGT
6615   ENSG00000132388      UBE2G1    12482     7326         UBC7
15955  ENSG00000184787      UBE2G2    12483     7327         UBC7
5350   ENSG00000122861        PLAU     9052     5328          UPA
11780  ENSG00000165828       PRAP1    23304   118471          UPA

[2573 rows x 5 columns]

In [15]:
aa_collision_ensg_df.to_csv('created_files/aa_collision_ensg_df.csv', index=True)

In [16]:
#ensg_CD158b_alias_count_df.to_csv('../hgnc_CD158b_alias_count_df.csv')

### <a id='toc1_1_9_'></a>[Number of records with an alias that is shared](#toc0_)

In [17]:
ensg_alias_alias_collision_primary_symbol_set = set(aa_collision_ensg_df['gene_symbol'])
len(ensg_alias_alias_collision_primary_symbol_set)

2224

In [18]:
aa_collision_ensg_df['source'] = 'ENSG'
aa_collision_ensg_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol source
58193  ENSG00000275176       ACACA       84       31         ACC1   ENSG
8000   ENSG00000140379      BCL2A1      991      597         ACC1   ENSG
8000   ENSG00000140379      BCL2A1      991      597         ACC2   ENSG
1354   ENSG00000076555       ACACB       85       32         ACC2   ENSG
2085   ENSG00000097021       ACOT7    24157    11332          ACT   ENSG
...                ...         ...      ...      ...          ...    ...
24134  ENSG00000213339       QTRT1    23797    81890          TGT   ENSG
6615   ENSG00000132388      UBE2G1    12482     7326         UBC7   ENSG
15955  ENSG00000184787      UBE2G2    12483     7327         UBC7   ENSG
5350   ENSG00000122861        PLAU     9052     5328          UPA   ENSG
11780  ENSG00000165828       PRAP1    23304   118471          UPA   ENSG

[2573 rows x 6 columns]

In [19]:
aa_collision_ensg_df.loc[aa_collision_ensg_df['alias_symbol'] == "RN5S3" ]

Empty DataFrame
Columns: [ENSG_ID, gene_symbol, HGNC_ID, NCBI_ID, alias_symbol, source]
Index: []

### <a id='toc1_1_10_'></a>[Count the number of times each multi-use alias is used](#toc0_)

In [20]:
aa_collision_ensg_count_df = aa_collision_ensg_df.pivot_table(index = ['alias_symbol'], aggfunc ='size')
aa_collision_ensg_count_df = aa_collision_ensg_count_df.reset_index()
aa_collision_ensg_count_df.rename(columns={0:'num_gene_records'}, inplace=True )
aa_collision_ensg_count_df = aa_collision_ensg_count_df.sort_values('num_gene_records', ascending=False)
aa_collision_ensg_count_df.head(5)

     alias_symbol  num_gene_records
1091          MT1                10
1060         HOX1                10
1061         HOX2                 9
411           P40                 9
392           P18                 8

In [21]:
ensg_alias_alias_collision_set = set(aa_collision_ensg_count_df['alias_symbol'])
len(ensg_alias_alias_collision_set)

1149

In [22]:
aa_collision_ensg_count_df.to_csv('../aa_collision_ensg_count_df.csv', index=True)

In [23]:
aa_collision_ensg_distribution_df = aa_collision_ensg_count_df.pivot_table(index = ['num_gene_records'], aggfunc ='size')
aa_collision_ensg_distribution_df = aa_collision_ensg_distribution_df.reset_index()
aa_collision_ensg_distribution_df.rename(columns={0:'num_alias_symbol'}, inplace=True )
aa_collision_ensg_distribution_df['percent_alias_symbol'] = ((aa_collision_ensg_distribution_df['num_alias_symbol'] / ensg_alias_len) * 100)
aa_collision_ensg_distribution_df.head()

   num_gene_records  num_alias_symbol  percent_alias_symbol
0                 2               980              1.751940
1                 3               117              0.209160
2                 4                31              0.055418
3                 5                 5              0.008938
4                 6                10              0.017877

In [24]:
ensg_alias_count_histogram_df = aa_collision_ensg_distribution_df.drop('num_alias_symbol', axis=1)
ensg_alias_count_histogram_df.head()

   num_gene_records  percent_alias_symbol
0                 2              1.751940
1                 3              0.209160
2                 4              0.055418
3                 5              0.008938
4                 6              0.017877

In [25]:
#px.bar(ensg_alias_count_histogram_df, x='num_gene_records', y='percent_alias_symbol')

In [26]:
aa_collision_ensg_distribution_df.to_csv('../aa_collision_ensg_distribution_df.csv', index=True)

#### <a id='toc1_1_10_1_'></a>[Save as csv](#toc0_)

In [27]:
#mini_ensg_df_explode.to_csv('../ensg_alias_overlap.csv', index=False)

### <a id='toc1_1_11_'></a>[Put columns in different order to ephasize alias symbols instead of gene records](#toc0_)

In [28]:
aa_collision_ensg_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol source
58193  ENSG00000275176       ACACA       84       31         ACC1   ENSG
8000   ENSG00000140379      BCL2A1      991      597         ACC1   ENSG
8000   ENSG00000140379      BCL2A1      991      597         ACC2   ENSG
1354   ENSG00000076555       ACACB       85       32         ACC2   ENSG
2085   ENSG00000097021       ACOT7    24157    11332          ACT   ENSG
...                ...         ...      ...      ...          ...    ...
24134  ENSG00000213339       QTRT1    23797    81890          TGT   ENSG
6615   ENSG00000132388      UBE2G1    12482     7326         UBC7   ENSG
15955  ENSG00000184787      UBE2G2    12483     7327         UBC7   ENSG
5350   ENSG00000122861        PLAU     9052     5328          UPA   ENSG
11780  ENSG00000165828       PRAP1    23304   118471          UPA   ENSG

[2573 rows x 6 columns]

In [29]:
aa_collision_ensg_df_2 = aa_collision_ensg_df[['alias_symbol', 'ENSG_ID', 'gene_symbol', 'source']]
aa_collision_ensg_df_2

      alias_symbol          ENSG_ID gene_symbol source
58193         ACC1  ENSG00000275176       ACACA   ENSG
8000          ACC1  ENSG00000140379      BCL2A1   ENSG
8000          ACC2  ENSG00000140379      BCL2A1   ENSG
1354          ACC2  ENSG00000076555       ACACB   ENSG
2085           ACT  ENSG00000097021       ACOT7   ENSG
...            ...              ...         ...    ...
24134          TGT  ENSG00000213339       QTRT1   ENSG
6615          UBC7  ENSG00000132388      UBE2G1   ENSG
15955         UBC7  ENSG00000184787      UBE2G2   ENSG
5350           UPA  ENSG00000122861        PLAU   ENSG
11780          UPA  ENSG00000165828       PRAP1   ENSG

[2573 rows x 4 columns]

### <a id='toc1_1_12_'></a>[Merge rows with matching alias symbols](#toc0_)

In [30]:
aa_collision_ensg_df_2 = aa_collision_ensg_df_2.drop_duplicates(subset = ["alias_symbol", "gene_symbol"], keep = 'first')

In [31]:
aa_collision_ensg_df_2 = aa_collision_ensg_df_2.applymap(str)
aa_collision_ensg_df_2

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/2500633515.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  aa_collision_ensg_df_2 = aa_collision_ensg_df_2.applymap(str)

      alias_symbol          ENSG_ID gene_symbol source
58193         ACC1  ENSG00000275176       ACACA   ENSG
8000          ACC1  ENSG00000140379      BCL2A1   ENSG
8000          ACC2  ENSG00000140379      BCL2A1   ENSG
1354          ACC2  ENSG00000076555       ACACB   ENSG
2085           ACT  ENSG00000097021       ACOT7   ENSG
...            ...              ...         ...    ...
24134          TGT  ENSG00000213339       QTRT1   ENSG
6615          UBC7  ENSG00000132388      UBE2G1   ENSG
15955         UBC7  ENSG00000184787      UBE2G2   ENSG
5350           UPA  ENSG00000122861        PLAU   ENSG
11780          UPA  ENSG00000165828       PRAP1   ENSG

[2573 rows x 4 columns]

In [32]:
aa_collision_ensg_df_2 = aa_collision_ensg_df_2.groupby('alias_symbol').agg({'ENSG_ID': ', '.join, 
                             'gene_symbol': ', '.join, 
                             'source':'first' }).reset_index()
aa_collision_ensg_df_2

     alias_symbol                           ENSG_ID       gene_symbol source
0            ACC1  ENSG00000275176, ENSG00000140379     ACACA, BCL2A1   ENSG
1            ACC2  ENSG00000140379, ENSG00000076555     BCL2A1, ACACB   ENSG
2             ACT  ENSG00000097021, ENSG00000196136   ACOT7, SERPINA3   ENSG
3          AGPAT9  ENSG00000153395, ENSG00000138678     LPCAT1, GPAT3   ENSG
4            AIP1  ENSG00000136848, ENSG00000187391     DAB2IP, MAGI2   ENSG
...           ...                               ...               ...    ...
1144    TCRBV15S1  ENSG00000276819, ENSG00000211750  TRBV15, TRBV24-1   ENSG
1145      TCRGV5P  ENSG00000228668, ENSG00000226212     TRGV5P, TRGV6   ENSG
1146          TGT  ENSG00000101557, ENSG00000213339      USP14, QTRT1   ENSG
1147         UBC7  ENSG00000132388, ENSG00000184787    UBE2G1, UBE2G2   ENSG
1148          UPA  ENSG00000122861, ENSG00000165828       PLAU, PRAP1   ENSG

[1149 rows x 4 columns]

# <a id='toc2_'></a>[HGNC](#toc0_)

In [33]:
mini_hgnc_df = pd.read_csv('Downloaded_files/mini_hgnc_df.csv', dtype={'HGNC_ID': pd.Int64Dtype(), 'NCBI_ID': pd.Int64Dtype()})
mini_hgnc_df

,ENSG_ID,gene_symbol,HGNC_ID,NCBI_ID,alias_symbol
0,ENSG00000000003,TSPAN6,11858,7105,"T245, TSPAN-6"
1,ENSG00000000005,TNMD,17757,64102,"myodulin, ChM1L, tendin, TEM, BRICD4"
2,ENSG00000000419,DPM1,3005,8813,"MPDS, CDGIE"
3,ENSG00000000457,SCYL3,19285,57147,"PACE-1, PACE1"
4,ENSG00000000460,FIRRM,25565,55732,"FLJ10706, Apolo1, FLIP, MEICA1"
...,...,...,...,...,...
45641,NaN,ZNF97,13173,<NA>,NaN
45642,NaN,ZNFP1,13181,<NA>,NaN
45643,NaN,ZPAXP,51635,105373450,ZPX1P
45644,NaN,ZRK,13193,<NA>,NaN
45645,NaN,ZWINTAS,13196,<NA>,"MPP5, MPHOSPH5, NCRNA00018"

### <a id='toc2_1_1_'></a>[How many total unique gene records are there](#toc0_)

By HGNC ID

In [34]:
hgnc_gene_id_set = set(mini_hgnc_df['HGNC_ID'])
len(hgnc_gene_id_set)

45646

By gene symbol

In [35]:
hgnc_gene_symbol_set = set(mini_hgnc_df['gene_symbol'])
len(hgnc_gene_symbol_set)

45646

### <a id='toc2_1_2_'></a>[Drop genes with no aliases](#toc0_)

In [36]:
mini_hgnc_df = mini_hgnc_df[mini_hgnc_df["alias_symbol"].str.contains("NaN") == False]
mini_hgnc_df

,ENSG_ID,gene_symbol,HGNC_ID,NCBI_ID,alias_symbol
0,ENSG00000000003,TSPAN6,11858,7105,"T245, TSPAN-6"
1,ENSG00000000005,TNMD,17757,64102,"myodulin, ChM1L, tendin, TEM, BRICD4"
2,ENSG00000000419,DPM1,3005,8813,"MPDS, CDGIE"
3,ENSG00000000457,SCYL3,19285,57147,"PACE-1, PACE1"
4,ENSG00000000460,FIRRM,25565,55732,"FLJ10706, Apolo1, FLIP, MEICA1"
...,...,...,...,...,...
45632,NaN,ZNF78L2,13152,<NA>,pT3
45636,NaN,ZNF88,13163,<NA>,HPF8
45638,NaN,ZNF94,13170,<NA>,F11465
45643,NaN,ZPAXP,51635,105373450,ZPX1P
45645,NaN,ZWINTAS,13196,<NA>,"MPP5, MPHOSPH5, NCRNA00018"

### <a id='toc2_1_3_'></a>[Make each row in alias_symbol a set:](#toc0_)
    covert to a list 
    make a set

In [37]:
mini_hgnc_df['alias_symbol'] = mini_hgnc_df['alias_symbol'].astype(str)
mini_hgnc_df['alias_symbol'] = [x.split(',') for x in mini_hgnc_df.alias_symbol]
mini_hgnc_df['alias_symbol']=np.where(mini_hgnc_df.alias_symbol=='','',mini_hgnc_df.alias_symbol.map(set))
mini_hgnc_df

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1236743559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_hgnc_df['alias_symbol'] = mini_hgnc_df['alias_symbol'].astype(str)
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1236743559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_hgnc_df['alias_symbol'] = [x.split(',') for x in mini_hgnc_df.alias_symbol]
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/1236743559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_hgnc_df['alias_symbol']=np.where(mini_hgnc_df.alias_symbol=='','',mini_hgnc_df.alias_symbol.map(set))

,ENSG_ID,gene_symbol,HGNC_ID,NCBI_ID,alias_symbol
0,ENSG00000000003,TSPAN6,11858,7105,"{T245, TSPAN-6}"
1,ENSG00000000005,TNMD,17757,64102,"{ ChM1L, myodulin, BRICD4, TEM, tendin}"
2,ENSG00000000419,DPM1,3005,8813,"{MPDS, CDGIE}"
3,ENSG00000000457,SCYL3,19285,57147,"{ PACE1, PACE-1}"
4,ENSG00000000460,FIRRM,25565,55732,"{ MEICA1, Apolo1, FLIP, FLJ10706}"
...,...,...,...,...,...
45632,NaN,ZNF78L2,13152,<NA>,{pT3}
45636,NaN,ZNF88,13163,<NA>,{HPF8}
45638,NaN,ZNF94,13170,<NA>,{F11465}
45643,NaN,ZPAXP,51635,105373450,{ZPX1P}
45645,NaN,ZWINTAS,13196,<NA>,"{MPP5, NCRNA00018, MPHOSPH5}"

### <a id='toc2_1_4_'></a>[Explode the alias sets so that it is one per row](#toc0_)

In [38]:
mini_hgnc_df = mini_hgnc_df.explode('alias_symbol')
mini_hgnc_df

               ENSG_ID gene_symbol  HGNC_ID    NCBI_ID alias_symbol
0      ENSG00000000003      TSPAN6    11858       7105         T245
0      ENSG00000000003      TSPAN6    11858       7105      TSPAN-6
1      ENSG00000000005        TNMD    17757      64102        ChM1L
1      ENSG00000000005        TNMD    17757      64102     myodulin
1      ENSG00000000005        TNMD    17757      64102       BRICD4
...                ...         ...      ...        ...          ...
45638              NaN       ZNF94    13170       <NA>       F11465
45643              NaN       ZPAXP    51635  105373450        ZPX1P
45645              NaN     ZWINTAS    13196       <NA>         MPP5
45645              NaN     ZWINTAS    13196       <NA>   NCRNA00018
45645              NaN     ZWINTAS    13196       <NA>     MPHOSPH5

[44584 rows x 5 columns]

### <a id='toc2_1_5_'></a>[How many total unique aliases are there](#toc0_)

In [39]:
hgnc_alias_symbol_set = set(mini_hgnc_df['alias_symbol'])
hgnc_alias_len = len(hgnc_alias_symbol_set)
hgnc_alias_len

43770

### <a id='toc2_1_6_'></a>[Remove the duplicate instances of a primary gene symbol- alias pair](#toc0_)

In [40]:
mini_hgnc_df = mini_hgnc_df.drop_duplicates(subset=['gene_symbol', 'alias_symbol'], keep='first')
mini_hgnc_df

               ENSG_ID gene_symbol  HGNC_ID    NCBI_ID alias_symbol
0      ENSG00000000003      TSPAN6    11858       7105         T245
0      ENSG00000000003      TSPAN6    11858       7105      TSPAN-6
1      ENSG00000000005        TNMD    17757      64102        ChM1L
1      ENSG00000000005        TNMD    17757      64102     myodulin
1      ENSG00000000005        TNMD    17757      64102       BRICD4
...                ...         ...      ...        ...          ...
45638              NaN       ZNF94    13170       <NA>       F11465
45643              NaN       ZPAXP    51635  105373450        ZPX1P
45645              NaN     ZWINTAS    13196       <NA>         MPP5
45645              NaN     ZWINTAS    13196       <NA>   NCRNA00018
45645              NaN     ZWINTAS    13196       <NA>     MPHOSPH5

[44584 rows x 5 columns]

### <a id='toc2_1_7_'></a>[Pull out all the rows that have an alias symbol that can be found elsewhere](#toc0_)

In [41]:
mini_hgnc_df['alias_duplicates'] = mini_hgnc_df.duplicated(subset= 'alias_symbol', keep=False)
aa_collision_hgnc_df = mini_hgnc_df[mini_hgnc_df['alias_duplicates'] == True]
aa_collision_hgnc_df = aa_collision_hgnc_df.drop(['alias_duplicates'], axis=1)
aa_collision_hgnc_df.head(5)

            ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
4   ENSG00000000460       FIRRM    25565    55732         FLIP
8   ENSG00000001084        GCLC     4311     2729          GCS
13  ENSG00000001561       ENPP4     3359    22875      AP3Aase
22  ENSG00000002549        LAP3    18449    51056          LAP
39  ENSG00000003402       CFLAR     1876     8837         FLIP

### <a id='toc2_1_8_'></a>[Sort alias symbols alphabetically](#toc0_)

In [42]:
aa_collision_hgnc_df = aa_collision_hgnc_df.sort_values('alias_symbol')
aa_collision_hgnc_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol
7761   ENSG00000139187       KLRG1     6380    10219          2F1
75     ENSG00000005022     SLC25A5    10991      292          2F1
8398   ENSG00000143546      S100A8    10498     6279       60B8AG
10916  ENSG00000163220      S100A9    10499     6280       60B8AG
3585   ENSG00000108823        SGCA    10805     6442           A2
...                ...         ...      ...      ...          ...
20999  ENSG00000213024       NUP62     8066    23636          p62
28269  ENSG00000234816      H2AC5P     4728    10341       pH2A/f
17080  ENSG00000196787      H2AC11     4737     8969       pH2A/f
39337  ENSG00000274962     TEX28P1    33356   728447         pTEX
39717  ENSG00000277008     TEX28P2    33357   653363         pTEX

[1487 rows x 5 columns]

### <a id='toc2_1_9_'></a>[Number of records with an alias that is shared](#toc0_)

In [43]:
hgnc_alias_alias_collision_primary_symbol_set = set(aa_collision_hgnc_df['gene_symbol'])
len(hgnc_alias_alias_collision_primary_symbol_set)

1356

In [44]:
aa_collision_hgnc_df['source'] = 'HGNC'
aa_collision_hgnc_df

               ENSG_ID gene_symbol  HGNC_ID  NCBI_ID alias_symbol source
7761   ENSG00000139187       KLRG1     6380    10219          2F1   HGNC
75     ENSG00000005022     SLC25A5    10991      292          2F1   HGNC
8398   ENSG00000143546      S100A8    10498     6279       60B8AG   HGNC
10916  ENSG00000163220      S100A9    10499     6280       60B8AG   HGNC
3585   ENSG00000108823        SGCA    10805     6442           A2   HGNC
...                ...         ...      ...      ...          ...    ...
20999  ENSG00000213024       NUP62     8066    23636          p62   HGNC
28269  ENSG00000234816      H2AC5P     4728    10341       pH2A/f   HGNC
17080  ENSG00000196787      H2AC11     4737     8969       pH2A/f   HGNC
39337  ENSG00000274962     TEX28P1    33356   728447         pTEX   HGNC
39717  ENSG00000277008     TEX28P2    33357   653363         pTEX   HGNC

[1487 rows x 6 columns]

In [45]:
aa_collision_hgnc_df.to_csv('created_files/aa_collision_hgnc_df.csv', index=True)

### <a id='toc2_1_10_'></a>[Count the number of times each multi-use alias is used](#toc0_)

In [46]:
aa_collision_hgnc_count_df = aa_collision_hgnc_df.pivot_table(index = ['alias_symbol'], aggfunc ='size')
aa_collision_hgnc_count_df = aa_collision_hgnc_count_df.reset_index()
aa_collision_hgnc_count_df.rename(columns={0:'num_gene_records'}, inplace=True )
aa_collision_hgnc_count_df = aa_collision_hgnc_count_df.sort_values('num_gene_records', ascending=False)
aa_collision_hgnc_count_df.head(5)

    alias_symbol  num_gene_records
639           U3                 8
642           U4                 6
189          MYM                 6
446         F379                 6
638           U2                 5

In [47]:
hgnc_alias_alias_collision_set = set(aa_collision_hgnc_count_df['alias_symbol'])
len(hgnc_alias_alias_collision_set)

673

In [48]:
aa_collision_hgnc_count_df.to_csv('../aa_collision_hgnc_count_df.csv', index=True)

In [49]:
hgnc_alias_count_distribution_df = aa_collision_hgnc_count_df.pivot_table(index = ['num_gene_records'], aggfunc ='size')
hgnc_alias_count_distribution_df = hgnc_alias_count_distribution_df.reset_index()
hgnc_alias_count_distribution_df.rename(columns={0:'num_alias_symbol'}, inplace=True )
hgnc_alias_count_distribution_df['percent_alias_symbol'] = ((hgnc_alias_count_distribution_df['num_alias_symbol'] / hgnc_alias_len) * 100)
hgnc_alias_count_distribution_df

   num_gene_records  num_alias_symbol  percent_alias_symbol
0                 2               574              1.311401
1                 3                70              0.159927
2                 4                22              0.050263
3                 5                 3              0.006854
4                 6                 3              0.006854
5                 8                 1              0.002285

In [50]:
hgnc_alias_count_distribution_df = hgnc_alias_count_distribution_df.drop('num_alias_symbol', axis=1)
hgnc_alias_count_distribution_df

   num_gene_records  percent_alias_symbol
0                 2              1.311401
1                 3              0.159927
2                 4              0.050263
3                 5              0.006854
4                 6              0.006854
5                 8              0.002285

In [51]:
#px.bar(hgnc_alias_count_histogram_df, x='num_gene_records', y='percent_alias_symbol')

#### <a id='toc2_1_10_1_'></a>[Save as csv](#toc0_)

In [52]:
#mini_hgnc_df_explode.to_csv('../hgnc_alias_overlap.csv', index=False)

### <a id='toc2_1_11_'></a>[Put columns in different order to ephasize alias symbols instead of gene records](#toc0_)

In [53]:
aa_collision_hgnc_df_2 = aa_collision_hgnc_df.drop_duplicates(subset = ["alias_symbol", "gene_symbol"], keep = 'first')

In [54]:
aa_collision_hgnc_df_2 = aa_collision_hgnc_df_2[['alias_symbol', 'ENSG_ID', 'gene_symbol', 'source']]
aa_collision_hgnc_df_2

      alias_symbol          ENSG_ID gene_symbol source
7761           2F1  ENSG00000139187       KLRG1   HGNC
75             2F1  ENSG00000005022     SLC25A5   HGNC
8398        60B8AG  ENSG00000143546      S100A8   HGNC
10916       60B8AG  ENSG00000163220      S100A9   HGNC
3585            A2  ENSG00000108823        SGCA   HGNC
...            ...              ...         ...    ...
20999          p62  ENSG00000213024       NUP62   HGNC
28269       pH2A/f  ENSG00000234816      H2AC5P   HGNC
17080       pH2A/f  ENSG00000196787      H2AC11   HGNC
39337         pTEX  ENSG00000274962     TEX28P1   HGNC
39717         pTEX  ENSG00000277008     TEX28P2   HGNC

[1487 rows x 4 columns]

### <a id='toc2_1_12_'></a>[Merge rows with matching alias symbols](#toc0_)

In [55]:
aa_collision_hgnc_df_2 = aa_collision_hgnc_df_2.applymap(str)
aa_collision_hgnc_df_2

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/3240441429.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  aa_collision_hgnc_df_2 = aa_collision_hgnc_df_2.applymap(str)

      alias_symbol          ENSG_ID gene_symbol source
7761           2F1  ENSG00000139187       KLRG1   HGNC
75             2F1  ENSG00000005022     SLC25A5   HGNC
8398        60B8AG  ENSG00000143546      S100A8   HGNC
10916       60B8AG  ENSG00000163220      S100A9   HGNC
3585            A2  ENSG00000108823        SGCA   HGNC
...            ...              ...         ...    ...
20999          p62  ENSG00000213024       NUP62   HGNC
28269       pH2A/f  ENSG00000234816      H2AC5P   HGNC
17080       pH2A/f  ENSG00000196787      H2AC11   HGNC
39337         pTEX  ENSG00000274962     TEX28P1   HGNC
39717         pTEX  ENSG00000277008     TEX28P2   HGNC

[1487 rows x 4 columns]

In [56]:
aa_collision_hgnc_df_2 = aa_collision_hgnc_df_2.groupby('alias_symbol').agg({'ENSG_ID': ', '.join, 
                             'gene_symbol': ', '.join, 
                             'source':'first' }).reset_index()
aa_collision_hgnc_df_2

,alias_symbol,ENSG_ID,gene_symbol,source
0,2F1,"ENSG00000139187, ENSG00000005022","KLRG1, SLC25A5",HGNC
1,60B8AG,"ENSG00000143546, ENSG00000163220","S100A8, S100A9",HGNC
2,A2,"ENSG00000108823, ENSG00000149735, ENSG00000160226","SGCA, GPHA2, CFAP410",HGNC
3,ACC2,"ENSG00000140379, ENSG00000076555","BCL2A1, ACACB",HGNC
4,ACS2,"ENSG00000164398, ENSG00000197142","ACSL6, ACSL5",HGNC
...,...,...,...,...
668,p55,"ENSG00000197170, ENSG00000226881, ENSG00000117...","PSMD12, H3P44, PIK3R3, FSCN1",HGNC
669,p56,"ENSG00000123106, ENSG00000227211","CCDC91, H3P45",HGNC
670,p62,"ENSG00000161011, ENSG00000213024","SQSTM1, NUP62",HGNC
671,pH2A/f,"ENSG00000234816, ENSG00000196787","H2AC5P, H2AC11",HGNC
672,pTEX,"ENSG00000274962, ENSG00000277008","TEX28P1, TEX28P2",HGNC

In [57]:
#mini_hgnc_df_2.to_csv('../hgnc_alias_overlap_2.csv', index=False)

# <a id='toc3_'></a>[NCBI Info](#toc0_)

In [58]:
mini_ncbi_df = pd.read_csv('Downloaded_files/mini_ncbi_df.csv', dtype={'HGNC_ID': pd.Int64Dtype(), 'NCBI_ID': pd.Int64Dtype()})
mini_ncbi_df

,NCBI_ID,gene_symbol,alias_symbol,HGNC_ID,ENSG_ID
0,1,A1BG,A1B|ABG|GAB|HYST2477,5,ENSG00000121410
1,2,A2M,A2MD|CPAMD5|FWP007|S863-7,7,ENSG00000175899
2,3,A2MP1,A2MP,8,ENSG00000291190
3,9,NAT1,AAC1|MNAT|NAT-1|NATI,7645,ENSG00000171428
4,10,NAT2,AAC2|NAT-2|PNAT,7646,ENSG00000156006
...,...,...,...,...,...
193451,8923215,trnD,-,<NA>,NaN
193452,8923216,trnP,-,<NA>,NaN
193453,8923217,trnA,-,<NA>,NaN
193454,8923218,COX1,-,<NA>,NaN
193455,8923219,16S rRNA,-,<NA>,NaN

### <a id='toc3_1_1_'></a>[How many total unique gene records are there](#toc0_)

By ENSG ID

In [59]:
ncbi_gene_id_set = set(mini_ncbi_df['ENSG_ID'])
len(ncbi_gene_id_set)

36803

By gene symbol

In [60]:
ncbi_gene_symbol_set = set(mini_ncbi_df['gene_symbol'])
len(ncbi_gene_symbol_set)

193303

### <a id='toc3_1_2_'></a>[Drop genes with no aliases](#toc0_)

In [61]:
mini_ncbi_df = mini_ncbi_df.replace("-", np.nan)
mini_ncbi_df

,NCBI_ID,gene_symbol,alias_symbol,HGNC_ID,ENSG_ID
0,1,A1BG,A1B|ABG|GAB|HYST2477,5,ENSG00000121410
1,2,A2M,A2MD|CPAMD5|FWP007|S863-7,7,ENSG00000175899
2,3,A2MP1,A2MP,8,ENSG00000291190
3,9,NAT1,AAC1|MNAT|NAT-1|NATI,7645,ENSG00000171428
4,10,NAT2,AAC2|NAT-2|PNAT,7646,ENSG00000156006
...,...,...,...,...,...
193451,8923215,trnD,NaN,<NA>,NaN
193452,8923216,trnP,NaN,<NA>,NaN
193453,8923217,trnA,NaN,<NA>,NaN
193454,8923218,COX1,NaN,<NA>,NaN
193455,8923219,16S rRNA,NaN,<NA>,NaN

In [62]:
mini_ncbi_df = mini_ncbi_df.dropna(subset=['alias_symbol'])
mini_ncbi_df

,NCBI_ID,gene_symbol,alias_symbol,HGNC_ID,ENSG_ID
0,1,A1BG,A1B|ABG|GAB|HYST2477,5,ENSG00000121410
1,2,A2M,A2MD|CPAMD5|FWP007|S863-7,7,ENSG00000175899
2,3,A2MP1,A2MP,8,ENSG00000291190
3,9,NAT1,AAC1|MNAT|NAT-1|NATI,7645,ENSG00000171428
4,10,NAT2,AAC2|NAT-2|PNAT,7646,ENSG00000156006
...,...,...,...,...,...
190958,131696449,LOC131696449,PKD1P1-NPIPA5L,<NA>,NaN
190961,131840634,GLTC1,GLTC,56861,NaN
193342,132532400,GABRA6-AS1,ARBAG,40248,NaN
193377,133395150,LNCARGI,ARGI,56890,NaN
193378,133834869,MLDHR,MP31|PTENURF,55481,NaN

In [63]:
mini_ncbi_df.loc[mini_ncbi_df['gene_symbol'] == "TMEM37" ]

       NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
18270   140738      TMEM37       PR|PR1    18216  ENSG00000171227

### <a id='toc3_1_3_'></a>[Make each row in alias_symbol a set:](#toc0_)
    covert to a list 
    make a set

In [64]:
mini_ncbi_df['alias_symbol'] = mini_ncbi_df['alias_symbol'].astype(str)
mini_ncbi_df['alias_symbol'] = [x.split('|') for x in mini_ncbi_df.alias_symbol]
mini_ncbi_df['alias_symbol']=np.where(mini_ncbi_df.alias_symbol=='','',mini_ncbi_df.alias_symbol.map(set))
mini_ncbi_df.head(1)

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/2736731455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df['alias_symbol'] = mini_ncbi_df['alias_symbol'].astype(str)
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/2736731455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df['alias_symbol'] = [x.split('|') for x in mini_ncbi_df.alias_symbol]
/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/2736731455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mini_ncbi_df['alias_symbol']=np.where(mini_ncbi_df.alias_symbol=='','',mini_ncbi_df.alias_symbol.map(set))

   NCBI_ID gene_symbol               alias_symbol  HGNC_ID          ENSG_ID
0        1        A1BG  {ABG, A1B, HYST2477, GAB}        5  ENSG00000121410

### <a id='toc3_1_4_'></a>[Explode the alias sets so that it is one per row](#toc0_)

In [65]:
mini_ncbi_df = mini_ncbi_df.explode(column="alias_symbol")
mini_ncbi_df.head(5)

   NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0        1        A1BG          ABG        5  ENSG00000121410
0        1        A1BG          A1B        5  ENSG00000121410
0        1        A1BG     HYST2477        5  ENSG00000121410
0        1        A1BG          GAB        5  ENSG00000121410
1        2         A2M         A2MD        7  ENSG00000175899

In [66]:
#ncbi_CD158b_alias_count_df.to_csv('../ncbi_CD158b_alias_count_df.csv')

### <a id='toc3_1_5_'></a>[How many unique aliases are there](#toc0_)

In [67]:
ncbi_alias_symbol_set = set(mini_ncbi_df['alias_symbol'])
ncbi_alias_len = len(ncbi_alias_symbol_set)
ncbi_alias_len

69157

### <a id='toc3_1_6_'></a>[Remove the duplicate instances of a primary gene symbol- alias pair](#toc0_)

In [68]:
mini_ncbi_df = mini_ncbi_df.drop_duplicates(subset=['gene_symbol', 'alias_symbol'], keep='first')
mini_ncbi_df

          NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0               1        A1BG          ABG        5  ENSG00000121410
0               1        A1BG          A1B        5  ENSG00000121410
0               1        A1BG     HYST2477        5  ENSG00000121410
0               1        A1BG          GAB        5  ENSG00000121410
1               2         A2M         A2MD        7  ENSG00000175899
...           ...         ...          ...      ...              ...
190961  131840634       GLTC1         GLTC    56861              NaN
193342  132532400  GABRA6-AS1        ARBAG    40248              NaN
193377  133395150     LNCARGI         ARGI    56890              NaN
193378  133834869       MLDHR         MP31    55481              NaN
193378  133834869       MLDHR      PTENURF    55481              NaN

[74053 rows x 5 columns]

### <a id='toc3_1_7_'></a>[Pull out all the rows that have an alias symbol that can be found elsewhere](#toc0_)

In [69]:
mini_ncbi_df['alias_duplicates'] = mini_ncbi_df.duplicated(subset= 'alias_symbol', keep=False)
aa_collision_ncbi_df = mini_ncbi_df[mini_ncbi_df['alias_duplicates'] == True]
aa_collision_ncbi_df = aa_collision_ncbi_df.drop(['alias_duplicates'], axis=1)
aa_collision_ncbi_df.head(5)

   NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
0        1        A1BG          A1B        5  ENSG00000121410
3        9        NAT1        NAT-1     7645  ENSG00000171428
3        9        NAT1         AAC1     7645  ENSG00000171428
4       10        NAT2         AAC2     7646  ENSG00000156006
6       12    SERPINA3          ACT       16  ENSG00000196136

### <a id='toc3_1_8_'></a>[Sort alias symbols alphabetically](#toc0_)

In [70]:
aa_collision_ncbi_df = aa_collision_ncbi_df.sort_values('alias_symbol')
aa_collision_ncbi_df.head(5)

      NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID
4525     5728        PTEN     10q23del     9588  ENSG00000171862
537       657      BMPR1A     10q23del     1076  ENSG00000107779
199       239      ALOX12       12-LOX      429  ENSG00000108839
205       246      ALOX15       12-LOX      433  ENSG00000161905
245       292     SLC25A5          2F1    10991  ENSG00000005022

### <a id='toc3_1_9_'></a>[Number of records with an alias that is shared](#toc0_)

In [71]:
ncbi_alias_alias_collision_primary_symbol_set = set(mini_ncbi_df['gene_symbol'])
len(ncbi_alias_alias_collision_primary_symbol_set)

27580

In [72]:
aa_collision_ncbi_df['source'] = 'NCBI Info'
aa_collision_ncbi_df

       NCBI_ID gene_symbol alias_symbol  HGNC_ID          ENSG_ID     source
4525      5728        PTEN     10q23del     9588  ENSG00000171862  NCBI Info
537        657      BMPR1A     10q23del     1076  ENSG00000107779  NCBI Info
199        239      ALOX12       12-LOX      429  ENSG00000108839  NCBI Info
205        246      ALOX15       12-LOX      433  ENSG00000161905  NCBI Info
245        292     SLC25A5          2F1    10991  ENSG00000005022  NCBI Info
...        ...         ...          ...      ...              ...        ...
18172   139420     PPP4R3C         smk1    33146  ENSG00000224960  NCBI Info
13522    57223     PPP4R3B         smk1    29267  ENSG00000275052  NCBI Info
12905    55671     PPP4R3A         smk1    20219  ENSG00000100796  NCBI Info
7631      9825      SPATA2         tamo    14681  ENSG00000158480  NCBI Info
17516   124044     SPATA2L         tamo    28393  ENSG00000158792  NCBI Info

[8372 rows x 6 columns]

In [73]:
aa_collision_ncbi_df.to_csv('created_files/aa_collision_ncbi_df.csv', index=True)

### <a id='toc3_1_10_'></a>[Count the number of times each multi-use alias is used](#toc0_)

In [74]:
ncbi_dup_alias_count_df = mini_ncbi_df.pivot_table(index = ['alias_symbol'], aggfunc ='size')
ncbi_dup_alias_count_df

alias_symbol
'C-K-RAS         1
(FM-3)           1
(IV)-44          1
(ppGpp)ase       1
0610011B16Rik    1
                ..
zfp-42           1
zfp-47           1
zfp-90           1
zinedin          1
znT-4            1
Length: 69157, dtype: int64

In [75]:
ncbi_dup_alias_count_df.to_csv('../ncbi_alias_overlap_count.csv', index=True)

In [76]:
ncbi_dup_alias_count_df = ncbi_dup_alias_count_df.reset_index()
ncbi_dup_alias_count_df

        alias_symbol  0
0           'C-K-RAS  1
1             (FM-3)  1
2            (IV)-44  1
3         (ppGpp)ase  1
4      0610011B16Rik  1
...              ... ..
69152         zfp-42  1
69153         zfp-47  1
69154         zfp-90  1
69155        zinedin  1
69156          znT-4  1

[69157 rows x 2 columns]

In [77]:
ncbi_dup_alias_count_df.rename(columns={0:'num_gene_records'}, inplace=True )
ncbi_dup_alias_count_df

        alias_symbol  num_gene_records
0           'C-K-RAS                 1
1             (FM-3)                 1
2            (IV)-44                 1
3         (ppGpp)ase                 1
4      0610011B16Rik                 1
...              ...               ...
69152         zfp-42                 1
69153         zfp-47                 1
69154         zfp-90                 1
69155        zinedin                 1
69156          znT-4                 1

[69157 rows x 2 columns]

In [78]:
ncbi_dup_alias_count_df = ncbi_dup_alias_count_df.sort_values('num_gene_records', ascending=False)
ncbi_dup_alias_count_df.head(30)

      alias_symbol  num_gene_records
61231           VH                36
22360        H4-16                14
22386         H4C4                13
22377         H4C1                13
22387         H4C5                13
22378        H4C11                13
22388         H4C6                13
22389         H4C8                13
22379        H4C12                13
22390         H4C9                13
22380        H4C13                13
22385         H4C3                13
22381        H4C14                13
22382        H4C15                13
22383        H4C16                13
22384         H4C2                13
36504          MT1                12
21146         GPCR                11
45048           PR                10
24838         HOX1                10
22326         H3C7                 9
44786       PPIase                 9
22325         H3C6                 9
22324         H3C4                 9
22323         H3C3                 9
24862         HOX2                 9
22322         H3C2                 9
22317        H3C12                 9
22316        H3C11                 9
22315        H3C10                 9

In [79]:
ncbi_alias_alias_collision_set = set(ncbi_dup_alias_count_df['alias_symbol'])
len(ncbi_alias_alias_collision_set)

69157

In [80]:
ncbi_dup_alias_count_df.to_csv('../ncbi_dup_alias_count_df.csv', index=True)

In [81]:
ncbi_alias_count_histogram_df = ncbi_dup_alias_count_df.pivot_table(index = ['num_gene_records'], aggfunc ='size')
ncbi_alias_count_histogram_df

num_gene_records
1     65681
2      2786
3       413
4       140
5        54
6        23
7        17
8         8
9        15
10        2
11        1
12        1
13       14
14        1
36        1
dtype: int64

In [82]:
ncbi_alias_count_histogram_df = ncbi_alias_count_histogram_df.reset_index()
ncbi_alias_count_histogram_df

    num_gene_records      0
0                  1  65681
1                  2   2786
2                  3    413
3                  4    140
4                  5     54
5                  6     23
6                  7     17
7                  8      8
8                  9     15
9                 10      2
10                11      1
11                12      1
12                13     14
13                14      1
14                36      1

In [83]:
ncbi_alias_count_histogram_df.rename(columns={0:'num_alias_symbol'}, inplace=True )
ncbi_alias_count_histogram_df

    num_gene_records  num_alias_symbol
0                  1             65681
1                  2              2786
2                  3               413
3                  4               140
4                  5                54
5                  6                23
6                  7                17
7                  8                 8
8                  9                15
9                 10                 2
10                11                 1
11                12                 1
12                13                14
13                14                 1
14                36                 1

In [84]:
ncbi_alias_count_histogram_df['percent_alias_symbol'] = ((ncbi_alias_count_histogram_df['num_alias_symbol'] / ncbi_alias_len) * 100)
ncbi_alias_count_histogram_df

    num_gene_records  num_alias_symbol  percent_alias_symbol
0                  1             65681             94.973755
1                  2              2786              4.028515
2                  3               413              0.597192
3                  4               140              0.202438
4                  5                54              0.078083
5                  6                23              0.033258
6                  7                17              0.024582
7                  8                 8              0.011568
8                  9                15              0.021690
9                 10                 2              0.002892
10                11                 1              0.001446
11                12                 1              0.001446
12                13                14              0.020244
13                14                 1              0.001446
14                36                 1              0.001446

In [85]:
ncbi_alias_count_histogram_df = ncbi_alias_count_histogram_df.drop('num_alias_symbol', axis=1)
ncbi_alias_count_histogram_df

    num_gene_records  percent_alias_symbol
0                  1             94.973755
1                  2              4.028515
2                  3              0.597192
3                  4              0.202438
4                  5              0.078083
5                  6              0.033258
6                  7              0.024582
7                  8              0.011568
8                  9              0.021690
9                 10              0.002892
10                11              0.001446
11                12              0.001446
12                13              0.020244
13                14              0.001446
14                36              0.001446

In [86]:
# px.bar(ncbi_alias_count_histogram_df, x='num_gene_records', y='percent_alias_symbol')

### <a id='toc3_1_11_'></a>[Put columns in different order to ephasize alias symbols instead of gene records](#toc0_)

In [87]:
aa_collision_ncbi_df_2 = aa_collision_ncbi_df.drop_duplicates(subset = ["alias_symbol", "gene_symbol"], keep = 'first')

In [88]:
aa_collision_ncbi_df_2 = aa_collision_ncbi_df[['alias_symbol', 'ENSG_ID', 'gene_symbol', 'source']]
aa_collision_ncbi_df_2

      alias_symbol          ENSG_ID gene_symbol     source
4525      10q23del  ENSG00000171862        PTEN  NCBI Info
537       10q23del  ENSG00000107779      BMPR1A  NCBI Info
199         12-LOX  ENSG00000108839      ALOX12  NCBI Info
205         12-LOX  ENSG00000161905      ALOX15  NCBI Info
245            2F1  ENSG00000005022     SLC25A5  NCBI Info
...            ...              ...         ...        ...
18172         smk1  ENSG00000224960     PPP4R3C  NCBI Info
13522         smk1  ENSG00000275052     PPP4R3B  NCBI Info
12905         smk1  ENSG00000100796     PPP4R3A  NCBI Info
7631          tamo  ENSG00000158480      SPATA2  NCBI Info
17516         tamo  ENSG00000158792     SPATA2L  NCBI Info

[8372 rows x 4 columns]

### <a id='toc3_1_12_'></a>[Merge rows with matching alias symbols](#toc0_)

In [89]:
aa_collision_ncbi_df_2 = aa_collision_ncbi_df_2.applymap(str)
aa_collision_ncbi_df_2

/var/folders/vt/znzp_c6s02q6kjcmqfk0cb500000gq/T/ipykernel_46108/740261094.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  aa_collision_ncbi_df_2 = aa_collision_ncbi_df_2.applymap(str)

      alias_symbol          ENSG_ID gene_symbol     source
4525      10q23del  ENSG00000171862        PTEN  NCBI Info
537       10q23del  ENSG00000107779      BMPR1A  NCBI Info
199         12-LOX  ENSG00000108839      ALOX12  NCBI Info
205         12-LOX  ENSG00000161905      ALOX15  NCBI Info
245            2F1  ENSG00000005022     SLC25A5  NCBI Info
...            ...              ...         ...        ...
18172         smk1  ENSG00000224960     PPP4R3C  NCBI Info
13522         smk1  ENSG00000275052     PPP4R3B  NCBI Info
12905         smk1  ENSG00000100796     PPP4R3A  NCBI Info
7631          tamo  ENSG00000158480      SPATA2  NCBI Info
17516         tamo  ENSG00000158792     SPATA2L  NCBI Info

[8372 rows x 4 columns]

In [90]:
aa_collision_ncbi_df_2['ENSG_ID'] = aa_collision_ncbi_df_2['ENSG_ID'].str.replace('NAN','nan')
aa_collision_ncbi_df_2

      alias_symbol          ENSG_ID gene_symbol     source
4525      10q23del  ENSG00000171862        PTEN  NCBI Info
537       10q23del  ENSG00000107779      BMPR1A  NCBI Info
199         12-LOX  ENSG00000108839      ALOX12  NCBI Info
205         12-LOX  ENSG00000161905      ALOX15  NCBI Info
245            2F1  ENSG00000005022     SLC25A5  NCBI Info
...            ...              ...         ...        ...
18172         smk1  ENSG00000224960     PPP4R3C  NCBI Info
13522         smk1  ENSG00000275052     PPP4R3B  NCBI Info
12905         smk1  ENSG00000100796     PPP4R3A  NCBI Info
7631          tamo  ENSG00000158480      SPATA2  NCBI Info
17516         tamo  ENSG00000158792     SPATA2L  NCBI Info

[8372 rows x 4 columns]

In [91]:
aa_collision_ncbi_df_2 = aa_collision_ncbi_df_2.groupby('alias_symbol').agg({'ENSG_ID': ', '.join, 
                             'gene_symbol': ', '.join, 
                             'source':'first' }).reset_index()
aa_collision_ncbi_df_2

,alias_symbol,ENSG_ID,gene_symbol,source
0,10q23del,"ENSG00000171862, ENSG00000107779","PTEN, BMPR1A",NCBI Info
1,12-LOX,"ENSG00000108839, ENSG00000161905","ALOX12, ALOX15",NCBI Info
2,2F1,"ENSG00000005022, ENSG00000139187","SLC25A5, KLRG1",NCBI Info
3,3-alpha-HSD,"ENSG00000198610, ENSG00000073737","AKR1C4, DHRS9",NCBI Info
4,35DAG,"ENSG00000102683, ENSG00000170624","SGCG, SGCD",NCBI Info
...,...,...,...,...
3471,polymerase,"nan, nan, nan","ERVK-19, ERVK-9, ERVK-11",NCBI Info
3472,psiSSX8,"ENSG00000241207, nan","SSX18P, SSXP8",NCBI Info
3473,rpL7a,"ENSG00000240522, ENSG00000213272","RPL7AP10, RPL7AP9",NCBI Info
3474,smk1,"ENSG00000224960, ENSG00000275052, ENSG00000100796","PPP4R3C, PPP4R3B, PPP4R3A",NCBI Info
3475,tamo,"ENSG00000158480, ENSG00000158792","SPATA2, SPATA2L",NCBI Info

# <a id='toc4_'></a>[Merge to create Alias Overlap Table 1 - Gene Symbol](#toc0_)

In [92]:
# merged_alias_overlap_df_1 = pd.concat([mini_hgnc_df[['gene_symbol', 'ENSG_ID', 'alias_symbol', 'source']],mini_ncbi_df[['gene_symbol', 'ENSG_ID', 'alias_symbol', 'source']], mini_ensg_df[['gene_symbol', 'ENSG_ID', 'alias_symbol', 'source']]])
# merged_alias_overlap_df_1

In [93]:
# merged_alias_overlap_df_1.to_csv('../merged_alias_overlap_df_1.csv', index=False)

In [94]:
# merged_alias_overlap_df_1.loc[merged_alias_overlap_df_1.gene_symbol == 'HSP90AA1']

In [95]:
# merged_alias_overlap_df_1.loc[merged_alias_overlap_df_1.alias_symbol == 'Hsp90' ]

In [96]:
# merged_alias_overlap_df_1['source'].value_counts()

# <a id='toc5_'></a>[Merge to create Alias Overlap Table 2 - Alias Symbol](#toc0_)

In [97]:
merged_alias_overlap_df_2 = pd.concat([aa_collision_hgnc_df_2[['alias_symbol', 'gene_symbol', 'ENSG_ID', 'source']],aa_collision_ncbi_df_2[['alias_symbol', 'gene_symbol', 'ENSG_ID', 'source']], aa_collision_ensg_df_2[['alias_symbol', 'gene_symbol', 'ENSG_ID', 'source']]])
merged_alias_overlap_df_2

,alias_symbol,gene_symbol,ENSG_ID,source
0,2F1,"KLRG1, SLC25A5","ENSG00000139187, ENSG00000005022",HGNC
1,60B8AG,"S100A8, S100A9","ENSG00000143546, ENSG00000163220",HGNC
2,A2,"SGCA, GPHA2, CFAP410","ENSG00000108823, ENSG00000149735, ENSG00000160226",HGNC
3,ACC2,"BCL2A1, ACACB","ENSG00000140379, ENSG00000076555",HGNC
4,ACS2,"ACSL6, ACSL5","ENSG00000164398, ENSG00000197142",HGNC
...,...,...,...,...
1144,TCRBV15S1,"TRBV15, TRBV24-1","ENSG00000276819, ENSG00000211750",ENSG
1145,TCRGV5P,"TRGV5P, TRGV6","ENSG00000228668, ENSG00000226212",ENSG
1146,TGT,"USP14, QTRT1","ENSG00000101557, ENSG00000213339",ENSG
1147,UBC7,"UBE2G1, UBE2G2","ENSG00000132388, ENSG00000184787",ENSG
1148,UPA,"PLAU, PRAP1","ENSG00000122861, ENSG00000165828",ENSG

In [98]:
merged_alias_overlap_df_2.loc[merged_alias_overlap_df_2['alias_symbol'] == "ASP" ]

,alias_symbol,gene_symbol,ENSG_ID,source
394,ASP,"ASPA, ROPN1L, ATG5, ASIP","ENSG00000108381, ENSG00000145491, ENSG00000057...",HGNC
222,ASP,"ASIP, A1CF, C3, ATG5, ASPA, TMPRSS11D, ROPN1L,...","ENSG00000101440, ENSG00000148584, ENSG00000125...",NCBI Info
864,ASP,"TMPRSS11D, ASPM, ROPN1L","ENSG00000153802, ENSG00000066279, ENSG00000145491",ENSG

In [99]:
merged_alias_overlap_df_2['gene_symbol'] = merged_alias_overlap_df_2['gene_symbol'].str.split(",")
merged_alias_overlap_df_2

,alias_symbol,gene_symbol,ENSG_ID,source
0,2F1,"[KLRG1, SLC25A5]","ENSG00000139187, ENSG00000005022",HGNC
1,60B8AG,"[S100A8, S100A9]","ENSG00000143546, ENSG00000163220",HGNC
2,A2,"[SGCA, GPHA2, CFAP410]","ENSG00000108823, ENSG00000149735, ENSG00000160226",HGNC
3,ACC2,"[BCL2A1, ACACB]","ENSG00000140379, ENSG00000076555",HGNC
4,ACS2,"[ACSL6, ACSL5]","ENSG00000164398, ENSG00000197142",HGNC
...,...,...,...,...
1144,TCRBV15S1,"[TRBV15, TRBV24-1]","ENSG00000276819, ENSG00000211750",ENSG
1145,TCRGV5P,"[TRGV5P, TRGV6]","ENSG00000228668, ENSG00000226212",ENSG
1146,TGT,"[USP14, QTRT1]","ENSG00000101557, ENSG00000213339",ENSG
1147,UBC7,"[UBE2G1, UBE2G2]","ENSG00000132388, ENSG00000184787",ENSG
1148,UPA,"[PLAU, PRAP1]","ENSG00000122861, ENSG00000165828",ENSG

In [100]:
merged_alias_overlap_df_2['gene_symbol_count'] = [len(c) for c in merged_alias_overlap_df_2['gene_symbol']]
merged_alias_overlap_df_2

,alias_symbol,gene_symbol,ENSG_ID,source,gene_symbol_count
0,2F1,"[KLRG1, SLC25A5]","ENSG00000139187, ENSG00000005022",HGNC,2
1,60B8AG,"[S100A8, S100A9]","ENSG00000143546, ENSG00000163220",HGNC,2
2,A2,"[SGCA, GPHA2, CFAP410]","ENSG00000108823, ENSG00000149735, ENSG00000160226",HGNC,3
3,ACC2,"[BCL2A1, ACACB]","ENSG00000140379, ENSG00000076555",HGNC,2
4,ACS2,"[ACSL6, ACSL5]","ENSG00000164398, ENSG00000197142",HGNC,2
...,...,...,...,...,...
1144,TCRBV15S1,"[TRBV15, TRBV24-1]","ENSG00000276819, ENSG00000211750",ENSG,2
1145,TCRGV5P,"[TRGV5P, TRGV6]","ENSG00000228668, ENSG00000226212",ENSG,2
1146,TGT,"[USP14, QTRT1]","ENSG00000101557, ENSG00000213339",ENSG,2
1147,UBC7,"[UBE2G1, UBE2G2]","ENSG00000132388, ENSG00000184787",ENSG,2
1148,UPA,"[PLAU, PRAP1]","ENSG00000122861, ENSG00000165828",ENSG,2

In [101]:
merged_alias_overlap_df_2 = merged_alias_overlap_df_2.sort_values(by='gene_symbol_count', ascending= False)
merged_alias_overlap_df_2

,alias_symbol,gene_symbol,ENSG_ID,source,gene_symbol_count
3305,VH,"[IGHV3-49, IGHV3-20, IGHV1-58, IGHV1-45, I...","ENSG00000211965, ENSG00000211946, ENSG00000211...",NCBI Info,36
1303,H4-16,"[H4C5, H4C1, H4C13, H4C12, H4C8, H4C15, ...","ENSG00000276966, ENSG00000278637, ENSG00000275...",NCBI Info,14
1317,H4C9,"[H4C1, H4C14, H4C5, H4C4, H4C11, H4C2, H...","ENSG00000278637, ENSG00000270882, ENSG00000276...",NCBI Info,13
1304,H4C1,"[H4C8, H4C6, H4C13, H4C14, H4C12, H4C11, ...","ENSG00000158406, ENSG00000274618, ENSG00000275...",NCBI Info,13
1305,H4C11,"[H4C16, H4C4, H4C12, H4C9, H4C5, H4C3, H...","ENSG00000197837, ENSG00000277157, ENSG00000273...",NCBI Info,13
...,...,...,...,...,...
1240,GST3,"[CHST4, GSTP1]","ENSG00000140835, ENSG00000084207",NCBI Info,2
1238,GST1,"[GSPT1, GSTM1]","ENSG00000103342, ENSG00000134184",NCBI Info,2
1237,GST,"[GSTK1, SLCO6A1]","ENSG00000197448, ENSG00000205359",NCBI Info,2
1236,GSP,"[GSM1, GNAS]","nan, ENSG00000087460",NCBI Info,2
1148,UPA,"[PLAU, PRAP1]","ENSG00000122861, ENSG00000165828",ENSG,2

In [102]:
merged_alias_overlap_df_2.loc[merged_alias_overlap_df_2['alias_symbol'] == "ASP" ]

,alias_symbol,gene_symbol,ENSG_ID,source,gene_symbol_count
222,ASP,"[ASIP, A1CF, C3, ATG5, ASPA, TMPRSS11D, ...","ENSG00000101440, ENSG00000148584, ENSG00000125...",NCBI Info,8
394,ASP,"[ASPA, ROPN1L, ATG5, ASIP]","ENSG00000108381, ENSG00000145491, ENSG00000057...",HGNC,4
864,ASP,"[TMPRSS11D, ASPM, ROPN1L]","ENSG00000153802, ENSG00000066279, ENSG00000145491",ENSG,3

In [103]:
merged_alias_overlap_df_2['gene_symbol_count'].value_counts()

gene_symbol_count
2     4340
3      600
4      193
5       62
6       36
7       18
9       17
13      14
8       10
10       4
36       1
14       1
12       1
11       1
Name: count, dtype: int64

In [104]:
merged_alias_overlap_df_2.to_csv('merged_alias_overlap_df_2.csv', index=True)

In [105]:
aa_collision_set = set(merged_alias_overlap_df_2['alias_symbol'].tolist())

In [106]:
common_aa_collisions = ensg_alias_alias_collision_primary_symbol_set & hgnc_alias_alias_collision_primary_symbol_set & ncbi_alias_alias_collision_primary_symbol_set
common_aa_collisions

{'CTAGE4',
 'ACTR2',
 'USP14',
 'TFAMP2',
 'BRMS1L',
 'POTEI',
 'LRP1',
 'MIP',
 'RPL29P31',
 'MSMB',
 'SNORD13P3',
 'RPP14',
 'CD40LG',
 'ARHGEF2',
 'NSMCE2',
 'NXT1',
 'TNFRSF14',
 'TRAV26-2',
 'AMT',
 'PPP1R14D',
 'IFTAP',
 'RNU2-2P',
 'MTUS2',
 'DNAAF3',
 'TAL1',
 'RNU4-7P',
 'CD5',
 'ADAM10',
 'PKD1',
 'H3P16',
 'TAS2R13',
 'LY6G6F-LY6G6D',
 'GYPC',
 'AP3B1',
 'TFF1',
 'IL17D',
 'SLC30A10',
 'TSHZ2',
 'UQCRB',
 'PADI1',
 'ZNF513',
 'ENPP1',
 'PTENP1',
 'SNCA',
 'NELFE',
 'CALML3',
 'CEBPB',
 'PPBP',
 'MRO',
 'IL9',
 'PPP4R3A',
 'PLPPR5',
 'KIFAP3',
 'AZIN1',
 'GTF2H2',
 'SNRPN',
 'GTF2H3',
 'ZMYM6',
 'DSTYK',
 'NUPR2',
 'KCNJ3',
 'RASA1',
 'FSTL1',
 'KIF20B',
 'FLNA',
 'RIPK2',
 'SMARCC2',
 'TRAV35',
 'IL12B',
 'DOLK',
 'CST12P',
 'RPLP0',
 'TSACC',
 'COMP',
 'LMNA',
 'AIMP1',
 'VSIR',
 'TRGV6',
 'SLC46A1',
 'CHD1L',
 'NOP2',
 'ACTR3',
 'CES1',
 'DNAH5',
 'CUL9',
 'FAM138A',
 'H3P44',
 'POPDC3',
 'CDKN2A',
 'MAGT1',
 'NLRC4',
 'TLE1',
 'ASIP',
 'ARHGEF35',
 'PSMD7',
 'CREBBP',
 'LILRB1',
 'CAV2',
 'MIF',
 'CCL18',
 'RNU2-4P',
 'NDUFB6',
 'RAB5IF',
 'CLNS1A',
 'NPR2',
 'AKR1B1',
 'DEFB4A',
 'ACSL5',
 'CXADRP1',
 'CRIP2',
 'EXOSC7',
 'H3P23',
 'ZGLP1',
 'NUP42',
 'JUN',
 'NFKB2',
 'THRSP',
 'SBNO1',
 'ZNF197',
 'PTTG1',
 'GINS2',
 'CDKN2C',
 'DOCK3',
 'BLOC1S5',
 'SMYD1',
 'MAP3K10',
 'GEMIN4',
 'GOSR1',
 'S100A8',
 'SLC30A8',
 'SLC38A4',
 'SMN2',
 'PSIP1',
 'CLIP2',
 'ROPN1L',
 'ANAPC10',
 'CTAG1A',
 'MT3',
 'ITGB2',
 'UGCG',
 'HACD1',
 'CFDP1',
 'LAMTOR2',
 'ACP2',
 'FIRRM',
 'TAAR5',
 'ZC3HAV1',
 'TTK',
 'ANKRD1',
 'PDCD1',
 'ICAM1',
 'PIK3R3',
 'DAB2IP',
 'ASCC1',
 'NPEPPS',
 'HPCAL1',
 'NR1I2',
 'RNF34',
 'MTUS1',
 'HOOK2',
 'ERGIC2',
 'UBE4B',
 'PTGDR',
 'TSC1',
 'MINDY3',
 'ZMYM1',
 'EIF1',
 'TRIB3',
 'PPP1R12C',
 'B4GAT1',
 'CCRL2',
 'H3P17',
 'ALDH9A1',
 'FHL5',
 'CD79B',
 'CCL16',
 'HCAR2',
 'DDX3X',
 'ZFP36L1',
 'ECI2',
 'SMN1',
 'EBP',
 'RPSA',
 'CCDC26',
 'NUPR1',
 'ATP8A2',
 'UXS1',
 'CDT1',
 'H2AB3',
 'SQSTM1',
 'TAF1',
 'METAP2',
 'PKN1',
 'IGKV1-12',
 'RPAIN',
 'HDLBP',
 'AGER',
 'PPIB',
 'PAMR1',
 'LHCGR',
 'IL36B',
 'POLE4',
 'EBNA1BP2',
 'ICE2',
 'RNU4-4P',
 'UTS2B',
 'PAX6',
 'TP63',
 'POU5F1',
 'SLPI',
 'ASAP2',
 'TAS1R1',
 'CSRP2',
 'FCGR3B',
 'SUB1',
 'GOLT1B',
 'TAS1R2',
 'RNU6-1',
 'SERPINB6',
 'RAB14',
 'HTR1B',
 'SMARCC1',
 'PYDC1',
 'GCLC',
 'ELMO3',
 'LSAMP',
 'H3P11',
 'SLBP',
 'IL22',
 'APPBP2',
 'TOB2',
 'TRAF3',
 'H3C6',
 'MSX2',
 'KLHL1',
 'GTF2E2',
 'CTAG1B',
 'NUP62',
 'DEPP1',
 'PPP4R3C',
 'PSEN1',
 'H2AB2',
 'PLAAT4',
 'RNF2',
 'HCLS1',
 'GLDC',
 'PLXNB1',
 'IL21',
 'TNFRSF11B',
 'MAPKAPK3',
 'LAMTOR3',
 'USO1',
 'UQCRQ',
 'H2AC17',
 'PRRC2A',
 'MMEL1',
 'ATP6V0A4',
 'HAVCR1',
 'DIRAS1',
 'FGFR1',
 'OLFM4',
 'SLC36A1',
 'SLC16A1',
 'CALM2',
 'PHYH',
 'TRGV5P',
 'AGTR1',
 'RET',
 'PRF1',
 'AZI2',
 'POLR2E',
 'MEIS2',
 'MIOS',
 'ATP6V1G1',
 'GTF2E1',
 'TAOK3',
 'KLK3',
 'ATN1',
 'TRIP4',
 'DDT',
 'TOB1',
 'TMEM132A',
 'GIPC1',
 'MNAT1',
 'GOLT1A',
 'SLC16A3',
 'SNORA59A',
 'PAG1',
 'ATP6V1B2',
 'SPAG11A',
 'PLCL1',
 'PSMD12',
 'REG1A',
 'IL37',
 'SDS',
 'NDRG1',
 'DNAJC3',
 'TP53INP1',
 'SLC39A7',
 'ARL6IP1',
 'TTTY11',
 'AGAP13P',
 'DGKB',
 'IGKJ1',
 'RPL10',
 'BPIFA2',
 'PSMD3',
 'IGF2BP1',
 'TNNT3',
 'CCL27',
 'RBM14',
 'REG3A',
 'CD47',
 'SLC6A8',
 'CDK11B',
 'GNL3',
 'RLN2',
 'RALBP1',
 'CD300LF',
 'FAM72A',
 'P4HB',
 'HELZ2',
 'H2AC8',
 'GLUD1',
 'ELOC',
 'DFFB',
 'SDHA',
 'TNXB',
 'TFDP1',
 'CUX1',
 'FOCAD',
 'ENOPH1',
 'SMARCD3',
 'CPOX',
 'SRR',
 'PIK3R1',
 'TPM3',
 'PLIN3',
 'TAF1B',
 'IGF2BP2',
 'FANCD2',
 'PXDNL',
 'KMT2D',
 'PFDN4',
 'POLR3E',
 'PTPRU',
 'ALPI',
 'MSH3',
 'SNORD3A',
 'SMARCA1',
 'RNU4-6P',
 'SNORD3B-2',
 'FBLIM1',
 'FAM138B',
 'PSMC2',
 'FUBP1',
 'LRIT1',
 'FBXL7',
 'AKR1A1',
 'SLC25A5',
 'RNU2-3P',
 'ZNRD2',
 'POLE3',
 'SRSF7',
 'PRSS30P',
 'UBE2B',
 'AP3M2',
 'SPAG9',
 'SPHKAP',
 'DENR',
 'CYCSP24',
 'ACACB',
 'PITX1',
 'SCN1A',
 'ATP6V0A2',
 'CDKN2B',
 'DIAPH2',
 'SLC16A6',
 'SNORA73A',
 'BMAL1',
 'NUFIP2',
 'PKN2',
 'MPZ',
 'ATP2C1',
 'H3C9P',
 'GSTM1',
 'H3P42',
 'CDK5R1',
 'MED10',
 'PPP1R13B',
 'CFAP100',
 'TOR1AIP1',
 'GTF2H5',
 'PDZK1',
 'ASAP1',
 'GTF2H4',
 'CHST1',
 'SMARCD1',
 'DIAPH3',
 'FLNC',
 'MCF2L',
 'PARP1',
 'RNU4-5P',
 'ZBTB18',
 'IFI44',
 'SF3B6',
 'SNX25',
 'FBXL4',
 'SMARCA4',
 'MSC-AS1',
 'CSH2',
 'CMKLR1',
 'RMND1',
 'PDIA3',
 'ATP6V1B1',
 'CDK5R2',
 'KCNJ5',
 'ANXA2P3',
 'KLRG1',
 'ANXA2',
 'SIK3',
 'PDCD6IP',
 'PBX2',
 'ATP6V1G3',
 'KCTD13',
 'LIPF',
 'KANK2',
 'UGDH',
 'SKP1',
 'FAM111B',
 'AGFG1',
 'CDKN2D',
 'PNRC1',
 'IMMP2L',
 'ULK4P1',
 'TNNI2',
 'TAF1C',
 'HDAC3',
 'LIPC',
 'GYPB',
 'B3GNT2',
 'SPAG11B',
 'HM13',
 'GCA',
 'ATP6V0A1',
 'SLU7',
 'LILRB3',
 'ASRGL1',
 'IL5',
 'NAPSA',
 'PSMD9',
 'EIF4G2',
 'GPSM3',
 'GNAI3',
 'CDK11A',
 'DUOXA1',
 'KANK1',
 'THNSL1',
 'OR2A7',
 'GTF2F2',
 'ANAPC1',
 'FSCN1',
 'UNG',
 'SLC25A4',
 'S100A9',
 'PXDN',
 'SHOX',
 'SLC52A1',
 'CSRP3',
 'ACOD1',
 'OR7E8P',
 'PAM',
 'KRT12',
 'POPDC2',
 'MAGI2',
 'RNASEH2A',
 'KHDRBS1',
 'GJB6',
 'CACNA1C',
 'MAPKAP1',
 'ITGAL',
 'AP1M2',
 'SLC16A2',
 'SGCA',
 'LRP10',
 'RAB27A',
 'HDAC2',
 'AMPD1',
 'ULK4P2',
 'ARMH1',
 'TUSC2',
 'TIMELESS',
 'MAPRE1',
 'TRAV31',
 'MSH2',
 'RLN3',
 'TACR1',
 'B9D1',
 'ZMYM3',
 'LANCL1',
 'SERPINE2',
 'UNC50',
 'PTRH2',
 'NT5C',
 'LLGL2',
 'NT5C3A',
 'CLIC4',
 'ALK',
 'PPP1R14C',
 'HMGCL',
 'EIF2B4',
 'TRBV21-1',
 'CHAF1B',
 'ATF7IP',
 'POLD4',
 'NSG1',
 'ARFGEF1',
 'ALX4',
 'H3C14',
 'CHAF1A',
 'LY6G6D',
 'STK38',
 'IL27',
 'ELMO1',
 'HHLA2',
 'H3P41',
 'PCNT',
 'PROK1',
 'TRIB1',
 'PPID',
 'KDM2A',
 'CTNND1',
 'YTHDF2P1',
 'ADAMTS13',
 'OR7E4P',
 'EIF2B5',
 'FOS',
 'TLN2',
 'ESR1',
 'POF1B',
 'TRAPPC9',
 'ENO1',
 'NCOA6',
 'SRSF11',
 'PTHLH',
 'MARCKSL1',
 'DESI1',
 'POU2F1',
 'CENPC',
 'PHF1',
 'PTP4A1',
 'PCYOX1',
 'GSTO1',
 'CSDE1',
 'LHX1',
 'EDARADD',
 'CRYGEP',
 'OSBPL1A',
 'CCDC6',
 'ACTR3C',
 'OXSM',
 'PYDC2',
 'H3P5',
 'BCL2A1',
 'TPTE',
 'RNU4-8P',
 'KIAA1549L',
 'NRP1',
 'ING1',
 'MBOAT7',
 'ACTRT1',
 'MCAT',
 'BRD10',
 'FCGR2B',
 'TLN1',
 'CD33',
 'GFER',
 'FLNB',
 'H3P30',
 'IL36RN',
 'RBMS1',
 'SEPTIN8',
 'FHIT',
 'NONO',
 'GOPC',
 'ZMPSTE24',
 'C12orf75',
 'PABPC3',
 'H2AC11',
 'ATRNL1',
 'GUCA1A',
 'LAP3',
 'BRD8',
 'ACP3',
 'SIL1',
 'ANKS4B',
 'TRAPPC2',
 'PSPN',
 'SPG7',
 'FKBP2',
 'CYP2A13',
 'ASPA',
 'RPS14',
 'EREG',
 'NCKIPSD',
 'PSMB6',
 'CRISP1',
 'HSD17B1',
 'PTGFR',
 'BRI3BP',
 'IL36A',
 'CCL2',
 'CFAP410',
 'SKIC2',
 'LAMP3',
 'LGALS7B',
 'CD40',
 'DTL',
 'MS4A1',
 'MANF',
 'RNF5',
 'LILRA5',
 'NDUFB7',
 'SKP1P1',
 'SMARCA5',
 'LPCAT1',
 'MMP23A',
 'PHETA1',
 'MPHOSPH10',
 'TRAV40',
 'LINC00261',
 'TAP2',
 'SRP68P3',
 'AHI1',
 'DCTN4',
 'TRGJ1',
 'ZFP36',
 'SLC4A8',
 'NRG4',
 'CHP1',
 'SLC25A19',
 'H3C3',
 'KCNA3',
 'BRCA2',
 'CDK7',
 'RAMAC',
 'ACKR1',
 'UBXN1',
 'TBXAS1',
 'IAPP',
 'ACP6',
 'RMDN1',
 'IL1RL1',
 'INPP5K',
 'COL18A1',
 'HEATR5B',
 'C4A',
 'TAS2R14',
 'C10orf62',
 'DONSON',
 'CXADR',
 'MED1',
 'TSPY3',
 'UQCRFS1',
 'MAFK',
 'GRPR',
 'CDKN1A',
 'TRAM1',
 'RAD23B',
 'NPR3',
 'KTN1',
 'MIA',
 'PANK2',
 'YWHAQ',
 'ACOT7',
 'NBAS',
 'PPIF',
 'CISD2',
 'CLNS1AP1',
 'GLI3',
 'ANPEP',
 'CRNKL1',
 'STING1',
 'ARSF',
 'SPINK5',
 'CBX8',
 'TERF1',
 'MORF4L1P1',
 'H3P38',
 'MUC1',
 'OR7A1P',
 'PWAR1',
 'RIGI',
 'DKK3',
 'PTPRA',
 'CCHCR1',
 'TTTY12',
 'SORBS1',
 'TCF3',
 'OR7A2P',
 'PAPPA',
 'EIF2B3',
 'MRPL28',
 'TSHZ1',
 'ERCC6L',
 'CTF1',
 'H3P37',
 'P2RY4',
 'PPP6R2',
 'ABL1',
 'CENPU',
 'PRDX5',
 'HADHA',
 'ELMO2',
 'SLC16A8',
 'UNC119',
 'STK19',
 'NECTIN2',
 'TNPO1',
 'SRSF1',
 'EPRS1',
 'RIPK1',
 'NFKB1',
 'SLC25A24',
 'AIMP2',
 'UCN2',
 'PTPRCAP',
 'DGKE',
 'TRBV14',
 'SPATA2',
 'TERC',
 'A1CF',
 'PHB2',
 'CBX4',
 'SPPL3',
 'SLC52A2',
 'IL1RN',
 'ALPG',
 'PKD2',
 'ROBO3',
 'ZMYM2',
 'RP1',
 'OPRPN',
 'TCP11',
 'MAGEC3',
 'EDA',
 'BVES',
 'PSMC6',
 'TRAV25',
 'PSMC5',
 'TFAMP1',
 'MLH1',
 'ELOB',
 'RNPC3',
 'HIP1',
 'UTRN',
 'CARD8',
 'VPS45',
 'TNFRSF25',
 'CXCL14',
 'GLS',
 'EIF2B1',
 'FLOT2',
 'STMN1',
 'NUSAP1',
 'TFPI2',
 'TRAV4',
 'SMARCA2',
 'PSMC3',
 'RFC2',
 'SLC22A2',
 'NAA20',
 'CMC4',
 'GMCL2',
 'KIF2A',
 'DLAT',
 'EVA1C',
 'FAM138E',
 'RNU6-50P',
 'CTDSP1',
 'MYL4',
 'SLC38A3',
 'KPNB1',
 'ABCC6',
 'SEPTIN6',
 'KANK4',
 'MYBBP1A',
 'TRBV11-1',
 'FKBP5',
 'TRGJ2',
 'IL12A',
 'ZNF585A',
 'MEIS3P1',
 'SNORD13P1',
 'AIFM2',
 'ITFG1',
 'SEC14L2',
 'CIB1',
 'ABCB8',
 'GCG',
 'SNX24',
 'MUC16',
 'RFC1',
 'RPL19',
 'HIVEP1',
 'SNORD3P1',
 'AURKA',
 'NSFL1C',
 'PABPC1',
 'TMEM158',
 'H3P45',
 'FAM138D',
 'CYCSP38',
 'ANGPTL2',
 'RPLP1',
 'CACYBP',
 'ALPP',
 'PCSK1N',
 'HEBP1',
 'H3P24',
 'AMBP',
 'ATRAID',
 'RHOF',
 'AP4S1',
 'PCSK1',
 'BRCA1',
 'WDR77',
 'CISH',
 'ATP6V0D1',
 'ANGPTL1',
 'CD55',
 'COASY',
 'FOSB',
 'PSMG1',
 'RPL29',
 'CDK2AP1',
 'ATG5',
 'ARID2',
 'CYP2A6',
 'SNORD13',
 'ULK4P3',
 'QTRT1',
 'AZIN2',
 'TRBV27',
 'ABCC8',
 'PDE7A',
 'C17orf49',
 'POTEJ',
 'KMT2B',
 'PCSK4',
 'CXCL8',
 'COL9A2',
 'ANGPTL4',
 'AKR1C4',
 'RFC4',
 'CCNO',
 'TPPP2',
 'NHLH2',
 'CHST3',
 'GPAT3',
 'RNU2-5P',
 'PBK',
 'FCGR3A',
 'NXF1',
 'CSPG4',
 'CCR1',
 'ABCC2',
 'SLC35G1',
 'GTF2F2P1',
 'KRT7',
 'USP39',
 'H3P19',
 'SMARCD2',
 'TLE2',
 'AP2M1',
 'NBR1',
 'FOLH1',
 'CRIPTO',
 'PDAP1',
 'UPK3B',
 'HAP1',
 'MMP23B',
 'NRBP1',
 'PDLIM3',
 'TFAP2C',
 'FCGR2A',
 'EFS',
 'LGALS7',
 'CCN1',
 'RIDA',
 'UBE2G2',
 'ZNF585B',
 'WDR1',
 'ACTR3B',
 'CAP1',
 'PEX7',
 'ZMYM4',
 'LINC02577',
 'CCDC91',
 'SPEF1',
 'KLF6',
 'ASPM',
 'LETMD1',
 'HDAC8',
 'HHIP',
 'VCP',
 'ZNF382',
 'METTL8',
 'CLEC11A',
 'SNORA59B',
 'RERE',
 'DNAI1',
 'APEX1',
 'SPATA2L',
 'DDX27',
 'C4B',
 'TNFRSF1B',
 'KCNK1',
 'LNPEP',
 'YLPM1',
 'PPP6R3',
 'SCYL1',
 'YIPF3',
 'TMPRSS11D',
 'LINC00670',
 'SYMPK',
 'CLIP1',
 'GTF2H1',
 'SBNO2',
 'RPS12',
 'LGALS1',
 'ABHD14B',
 'FAM138C',
 'PIAS1',
 'MYOZ1',
 'COTL1',
 'SORL1',
 'PLPPR3',
 'RBCK1',
 'MEIS3',
 'COPS2',
 'LRATD2',
 'PTP4A3',
 'PSMA2',
 'SECTM1',
 'CYCSP51',
 'GTF2F1',
 'ANKS1A',
 'YTHDF2',
 'ZRSR2',
 'TRBV2',
 'CHST2',
 'POMC',
 'NAP1L1',
 'RNU6V',
 'RMND5A',
 'SLC4A7',
 'HCRTR2',
 'NDUFA3',
 'OR2A9P',
 'ACOT8',
 'APOBEC2',
 'LNPK',
 'PTF1A',
 'CD200R1',
 'SNORD3B-1',
 'NRSN1',
 'SLA',
 'UBE2A',
 'CFLAR',
 'APOBEC3A',
 'FBXL5',
 'SLC22A3',
 'EML5',
 'UBE4A',
 'SRP68P2',
 'TXNRD2',
 'ERCC6L2',
 'ARFRP1',
 'NR2E3',
 'PABPC1P3',
 'AHSA1',
 'FAM138F',
 'NAGLU',
 'TSPY1',
 'DCDC2',
 'ARHGEF5',
 'PDIA2',
 'FKBP1B',
 'SOD2',
 'IGKJ2',
 'PUM3',
 'DYNC1H1',
 'ENPP4',
 'PSMD10',
 'CENPJ',
 'SLC25A3',
 'SYDE1',
 'UHRF2',
 'LAMTOR1',
 ...}

In [107]:
len(common_aa_collisions)

1039

# <a id='toc6_'></a>[Creating a yaml file for each collision](#toc0_)

In [108]:
# merged_alias_overlap_df_2

In [109]:
# data = {}

# for row in merged_alias_overlap_df_2.itertuples():
#     print(row)
#     break

In [110]:
# import yaml
# import os

# folder_path = 'new_alias-alias_collision_records'
# os.makedirs(folder_path, exist_ok=True)

# data = []

# for row in merged_alias_overlap_df_2.itertuples():
    
#     collision_record = {
#         "collision_symbol": row.alias_symbol,
#     }

#     collision_group = []

#     len_gene_symbols = len(row.gene_symbol)
#     ensg_ids = [r.strip() for r in row.ENSG_ID.split(",")]
#     len_ensg_ids = len(ensg_ids)

#     # if len_gene_symbols != len_ensg_ids:
#     #     print(row)
#     for i in range(0, len_gene_symbols):
#         collision_group_item = {
#             "gene_symbol": row.gene_symbol[i],
#             "ensg_id": ensg_ids[i].upper()
#         }
#         collision_group.append(collision_group_item)

#     collision_record["collision_group"] = collision_group
#     data.append(collision_record)

#     file_path = os.path.join(folder_path, f"{(row.alias_symbol.replace('/', '_'))}_collision_record.yaml")

#     with open(file_path, "w") as wf:
#         yaml.dump(collision_record, wf, default_flow_style=False)

# data